body {
    font-family: 'Poppins', sans-serif;
}

.view-toggle {
    margin-top: 10px;
}

.view-toggle .material-icons {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
}

#imageDisplay.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

#imageDisplay.list-view {
    display: block;
}

.image-container {
    position: relative;
    margin-bottom: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-info {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 12px;
}

#imageModal {
    transition: opacity 0.25s ease;
}

#imageModal .modal-content {
    transition: transform 0.3s ease-out;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transform: translateY(-50px); /* Initial state */
    opacity: 0;
}

/* Modal open state */
#imageModal.show .modal-content {
    transform: translateY(0);
    opacity: 1;
}

.material-icons.modal-navigation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #FFF; /* or any color you prefer */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.material-icons.modal-navigation.next {
    right: 10px;
}

.material-icons.modal-navigation.prev {
    left: 10px;
}

/* This will make sure that the caption does not overflow the modal */
.modal-content {
    position: relative;
    padding-bottom: 40px; /* Adjust the padding to fit the caption */
}

/* Style for the caption */
.modal-caption {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
    color: #FFF; /* or any color that matches your design */
    font-size: 16px;
    line-height: 1.6;
}
